@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 18px; }

p {
  font-size: 16px; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 769px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 36px; }
  h3 {
    font-size: 24px; }
  p {
    font-size: 26px; } }

@media (min-width: 1024px) {
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 46px; }
  h3 {
    font-size: 28px; }
  p {
    font-size: 26px; } }

/* <----------------------------------------Header----------------------------------------> */
.header__logo {
  width: 130px;
  margin-top: 10px;
  margin: 10px; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 769px) {
  .header__logo {
    width: 180px; } }

@media (min-width: 1024px) {
  .header__logo {
    width: 230px; } }

/* <----------------------------------------Navbar----------------------------------------> */
.navbar-nav li :hover {
  color: #EC6216;
  transition: 0.3s linear; }

.navbar-nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #EC6216;
  margin: auto;
  display: block; }

.navbar-nav a:hover::after {
  width: 100%;
  transition: width 0.3s linear; }

#fondoNav {
  background-color: #3A3F45; }

.nav-link {
  color: white;
  font-size: 20px;
  padding: 5px; }

.navbar-toggler {
  background-color: black;
  opacity: 0.7;
  border: solid #EC6216 2px; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 98, 22, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

#navbarNav {
  text-align: center; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 769px) {
  .nav-item {
    padding: 0 30px; } }

/* <----------------------------------------Index----------------------------------------> */
.main {
  background-image: url(../sources/img/backgroundHome.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.main article {
  padding-top: 50px;
  margin: auto; }

.main__bienvenido {
  color: white;
  text-align: center;
  padding: 30px; }

.main__bienvenido h2 {
  padding: 10px;
  margin-top: 50px; }

.main__bienvenido h1 {
  font-weight: normal;
  padding: 20px;
  margin-top: 30px; }

h1 strong {
  color: #EC6216; }

.main__btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.main__btn button {
  padding: 10px 80px;
  background-color: #3A3F45;
  border-radius: 100px;
  border: 0px;
  font-size: 14px;
  margin: 10px;
  transition: transform 0.3s ease;
  cursor: pointer; }

.linkButton {
  color: #EC6216;
  text-decoration: none; }

.linkButton:hover {
  color: white; }

.main__btn button::after,
.main__btn button::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #3A3F45;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3 ease; }

.main__btn button:hover {
  transform: translate(0px, -12px); }

.main__btn button:hover::after {
  transform: translate(0px, 6px); }

.main__btn button:hover::before {
  transform: translate(0px, 12px); }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 600px) {
  .main__btn {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .main__btn button {
    font-size: 18px; }
  .main {
    align-items: center; } }

@media (min-width: 1024px) {
  .main__bienvenido {
    color: white;
    padding: 60px;
    margin: 10px; }
  .main__btn button {
    font-size: 34px;
    height: 5rem;
    width: 40%; } }

/* <----------------------------------------Footer----------------------------------------> */
.footer {
  background-color: #3A3F45;
  text-align: center;
  padding: 10px; }

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0; }

.footer li {
  margin: 6px; }

.footer a {
  text-decoration: none;
  color: white;
  margin: 5px; }

.ig img {
  width: 2rem;
  margin-bottom: 4px; }

.ig a:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-weight: bold;
  color: black;
  border: black solid 4px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin: auto;
  transition: 0.5s ease; }

.git img {
  width: 2rem;
  margin-bottom: 4px; }

.git a:hover {
  background: #f6f8fa;
  font-weight: bold;
  color: black;
  border: black solid 4px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin: auto;
  transition: 0.5s ease; }

.mail img {
  width: 2.5rem;
  margin-bottom: 4px; }

.mail a:hover {
  background: #EC6216;
  font-weight: bold;
  color: black;
  border: black solid 4px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin: auto;
  transition: 0.5s ease; }

.ln img {
  width: 2rem;
  margin-bottom: 4px; }

.ln a:hover {
  background: #0e76a8;
  font-weight: bold;
  color: black;
  border: black solid 4px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin: auto;
  transition: 0.5s ease; }

/* <----------------------------------------About----------------------------------------> */
.about {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%; }

.about nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.about__txt {
  padding: 10px;
  margin-top: 5px; }
  .about__txt .txtDescription {
    font-size: 14px; }

.about__img {
  width: 10rem;
  margin: 10px;
  border: 4px solid black;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(236, 98, 22, 0.947304) 47%, black 81%); }

.about h2 {
  text-align: center;
  padding-top: 20px; }

.about h3 {
  padding-bottom: 10px;
  margin: 10px; }

.nameMP {
  color: #EC6216; }

.about__txt p {
  margin: 10px; }

.txtDescriptionStrong {
  font-size: 16px;
  margin-top: 20px; }

.allAccordion {
  padding: 0 15px 20px 15px; }

.toolsTitle {
  font-weight: bold;
  text-decoration: underline !important;
  margin-top: 25px !important; }

.accordion-button {
  background: #d9d9d9; }

.accordion-item {
  background: rgba(0, 0, 0, 0.338);
  border: 2px solid black; }
  .accordion-item .accordion-header {
    padding: 0; }

.accordion-button:active {
  background: #EC6216; }

.accordion-button:not(.collapsed) {
  background-color: #EC6216; }

.imgTools {
  width: 100%; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 768px) {
  .about__txt .txtDescription {
    font-size: 18px; }
  .about__txt .txtDescriptionStrong {
    font-size: 24px; }
  .about__img {
    width: 15rem; }
  .toolsTitle {
    font-size: 24px; } }

@media (min-width: 1024px) {
  .about nav {
    flex-direction: row;
    align-items: center; }
  .about__img {
    width: 22rem; } }

/* <----------------------------------------Service----------------------------------------> */
.service {
  background-color: #d9d9d9;
  width: 100%;
  height: 110vh;
  overflow: scroll; }

.service h2 {
  text-align: center;
  padding-top: 10px;
  margin: 0; }

.cardTitle {
  background-color: #d9d9d9;
  margin-bottom: 0;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin: 2rem 0 1rem 0; }

.card {
  width: 18rem; }

.card-body {
  text-align: center; }

.card-text {
  font-size: 18px; }

.allCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.cardService {
  display: flex;
  flex-direction: column; }

.writeMe {
  text-decoration: none;
  text-transform: none;
  color: white; }

.btn-writeMe {
  background-color: #EC6216; }

.btn-writeMe:hover {
  background-color: #d9530b; }

.writeMe:active {
  color: black; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 576px) {
  #cardUxUi {
    width: 300px; }
    #cardUxUi .card-body {
      margin: 0;
      padding: 9.5px; }
  .card-img-top-ux {
    height: 285px;
    width: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; } }

@media (min-width: 926px) {
  .service h2 {
    padding-top: 5px; }
  .service {
    overflow: hidden; }
  #cardUxUi {
    width: 350px; }
    #cardUxUi .card-body {
      margin: 9px 0; }
    #cardUxUi .card-text {
      margin: 2px 0 30px 0; }
  #subDev .card-text {
    margin: 10px 0 30px 0; }
  .card-img-top-ux {
    height: 285px;
    width: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .card-body {
    padding: 10px; } }

@media (min-width: 1500px) {
  .service article {
    padding: 0px 300px; } }

/* <----------------------------------------Proyects----------------------------------------> */
.proyects {
  background-color: #d9d9d9;
  width: 100%;
  height: 100vh;
  overflow: scroll; }

.proyects h2 {
  text-align: center;
  padding: 10px; }

.card {
  width: 18rem;
  margin: 10px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2); }

.allCards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; }

.card-body {
  text-align: center; }

.card-link {
  text-decoration: none !important;
  color: black; }

.card-link:hover {
  color: #EC6216;
  font-size: 24px;
  transition: 0.5s; }

.contentImg {
  width: 100%;
  height: 100%; }

#txtDoggy {
  margin: 7.5px 0; }

.imgTools {
  width: 100%;
  padding: 17px 0; }

.imgToolsDiseño {
  width: 15rem; }

.cardTitle {
  background: white;
  font-size: 20px; }

#cardTurnos {
  padding: 4.5px; }

.list-group-item {
  text-align: center; }

.contentImgBarber {
  padding: 0;
  width: 100%;
  height: 14.8rem; }

#barber {
  height: 100%; }

#barber img {
  height: 10rem; }

#ai {
  width: 12.5rem; }

#ps {
  margin-left: 13px; }

.turnoYa {
  width: 100%;
  display: flex;
  justify-content: center; }

#imgTurnos {
  width: 8rem; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 769px) {
  .proyects {
    overflow: hidden; } }

/* <----------------------------------------Contact----------------------------------------> */
.contact {
  background-color: #d9d9d9;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden; }

.contact h2 {
  text-align: center;
  padding: 10px;
  margin-top: 15px; }

.contact p {
  padding: 20px;
  padding-bottom: 0px; }

.contact__name {
  height: 40px;
  width: 95%;
  margin: 5px; }

.contact__mail {
  height: 40px;
  width: 95%;
  margin: 5px; }

.contact__datesMessage {
  padding-top: 30px;
  font-size: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.contact__tema {
  height: 40px;
  width: 95%;
  margin: 5px; }

.contact__message {
  margin: 5px;
  width: 95%;
  height: 10rem; }

.contact__btnEnviar {
  margin-top: 40px;
  text-align: center; }

.contact__btnEnviar button {
  padding: 10px 80px;
  background-color: #3A3F45;
  border-radius: 100px;
  color: #EC6216;
  border: 0px;
  font-size: 18px; }

.contact__name:focus::placeholder,
.contact__mail:focus::placeholder,
.contact__tema:focus::placeholder,
.contact__message:focus::placeholder {
  color: #EC6216; }

.contact__name:focus,
.contact__mail:focus,
.contact__tema:focus,
.contact__message:focus {
  color: #EC6216; }

.contact__btnEnviar button:hover {
  color: white;
  font-size: 28px;
  background-color: #EC6216; }

.contact__btnEnviar button:active {
  color: #3A3F45;
  font-size: 26px;
  background-color: #EC6216; }

/* <----------------------------------------Media Queries----------------------------------------> */
@media (min-width: 769px) {
  .contact__datesMessage {
    flex-direction: column; }
  .contact__btnEnviar {
    margin-top: 10px; }
  .contact__btnEnviar button {
    margin-top: 10px;
    font-size: 24px; } }

@media (min-width: 1024px) {
  .contact__mail,
  .contact__name,
  .contact__tema {
    height: 60px;
    font-size: 26px; }
  .contact__message {
    height: 150px;
    font-size: 26px; }
  .contact__btnEnviar {
    margin: 0px;
    font-size: 24px; }
  .contact p {
    padding: 0px 35px; } }

@media (min-width: 1500px) {
  .contact__btnEnviar button {
    font-size: 24px; } }
