/* <----------------------------------------About----------------------------------------> */

.about{
    background-color: $gris-claro;
    width: 100%;
    height: 100%;
}

.about nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.about__txt{
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    .txtDescription{
        font-size: 14px;
    }
}

.about__img{
    width: 10rem;
    margin: 10px;
    border: 4px solid black;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(236,98,22,0.9473039215686274) 47%, rgba(0,0,0,1) 81%);} 
.about h2{
    text-align: center;
    padding-top: 20px;
}

.about h3{
    padding-bottom: 10px;
    margin: 10px;
}

.nameMP{
    color: $naranja;
}

.about__txt p{
    margin: 10px;
}

.txtDescriptionStrong{
    font-size: 16px;
    margin-top: 20px;
}

/* <----------------------------------------Media Queries----------------------------------------> */

@media(min-width:768px){
    .about__txt{
        .txtDescription{
            font-size: 18px;
        }
        .txtDescriptionStrong{
            font-size: 24px;
        }
    }
    .about__img{
        width: 15rem;
    }
}


@media(min-width: 1024px) {
    .about nav{
        flex-direction: row;
        align-items: center;
    }
    .about__img{
        width: 22rem;
        
    }

}