/* <----------------------------------------Index----------------------------------------> */

.main{
    background-image: url(../sources/backgroundHome.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main article{
    padding-top: 50px;
    margin: auto;
}

.main__bienvenido{
    color: white;
    text-align: center;
    padding: 30px;
}

.main__bienvenido h2{
    padding: 10px;
    margin-top: 50px;
}

.main__bienvenido h1{
    font-weight: normal;
    padding: 20px;
    margin-top: 30px;
}

h1 strong{
    color: $naranja;
}


.main__btn{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.main__btn button{
    padding: 10px 80px;
    background-color: $gris;
    border-radius: 100px;
    color: $naranja;
    border: 0px;
    font-size: 14px;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.main__btn button::after,
.main__btn button::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background-color: $gris;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease;
}

.main__btn button:hover{
    transform: translate(0px, -12px);
    color: white;
}

.main__btn button:hover::after{
    transform: translate(0px, 6px);
}

.main__btn button:hover::before{
    transform: translate(0px, 12px);
}

/* <----------------------------------------Media Queries----------------------------------------> */

@media(min-width: 600px){
    .main__btn{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
    .main__btn button{
        font-size: 18px;
        
    }
    
    .main{
        align-items: center;
    }

}

@media(min-width: 1024px) {
    .main__bienvenido{
        color: white;
        padding: 60px;
        margin: 10px;
    }
    .main__btn button{
        font-size: 34px;
        height: 5rem;
        width: 40%;
    }

}