/* <----------------------------------------Service----------------------------------------> */

.service{
    background-color: $gris-claro;
    width: 100%;
    height: 110vh;
    overflow: scroll;
}


.service h2{
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.cardTitle{
    background-color: $gris-claro;
    margin-bottom: 0;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin: 2rem 0 1rem 0;

}

.card{
width: 18rem;
}

.card-body{
    text-align: center;
}

.card-text{
    font-size: 18px;
}


.allCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardService{
    display: flex;
    flex-direction: column;
}

.writeMe{
    text-decoration: none;
    text-transform: none;
    color: white;
}

.btn-writeMe{
    background-color: $naranja;
}
.btn-writeMe:hover{
    background-color: #d9530b;
}
.writeMe:active{
    color: black;
}

/* <----------------------------------------Media Queries----------------------------------------> */

@media(min-width:576px){
    #cardUxUi{
        width: 300px;
        .card-body{
            margin: 0;
            padding: 9.5px;
        }

    }
    .card-img-top-ux{
        height: 285px;
        width: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

}

@media (min-width: 926px){
    .service h2{
        padding-top: 5px;
    }
    .service{
        overflow: hidden;
    }
    #cardUxUi{
        width: 350px;
        .card-body{
            margin: 9px 0;
        }
        .card-text{
            margin: 2px 0 30px 0;
        }

    }

    #subDev{
        .card-text{
            margin: 10px 0 30px 0;
        }
    
    }
    .card-img-top-ux{
        height: 285px;
        width: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .card-body{
        padding: 10px;
    }
}

@media (min-width:1500px){
    .service article{
        padding: 0px 300px;
    }

}