*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


h1{
    font-size: 30px;

}

h2{
    font-size: 26px;
}

h3{
    font-size: 18px;
}

p{
    font-size: 16px;
}


/* <----------------------------------------Media Queries----------------------------------------> */

@media (min-width: 769px){
    h1{
        font-size: 40px;
    
    }
    
    h2{
        font-size: 36px;
    }
    
    h3{
        font-size: 24px;
    }
    
    p{
        font-size: 26px;
    }

}

@media(min-width: 1024px) {
    h1{
        font-size: 50px;
    
    }
    
    h2{
        font-size: 46px;
    }
    
    h3{
        font-size: 28px;
    }
    
    p{
        font-size: 26px;
    }

}